<html>
<head>
  <title>Flower Catalog</title>
  <link rel="stylesheet" href="../public/css/flowerCatalog.css">
</head>
<body class="bg-color">
  <form action="/storeData" method="post">
    <h4 class="head"> <a href="../public/index.html"> << </a>  Guest Book</h4><br>
    <h3 style="font-size:30px;">Leave a comment</h3><br>
    Name:
    <input type="text" name="name" value=""><br><br>
    Comment:
    <input type="text" name="comment" value="" class="box-size" style="font-size:10px;" required><br><br>
    <input type="submit"style="font-size:30px" class="inputBox" required><hr/><br>
    DATE_TIME_NAME_COMMENTS_LIST
    feedback
    <br><br>
    <hr/>
  </form>
</body>
</html>
